.main_chat
  .main_chat__group-info
    .main_chat__group-info__box
      .main_chat__group-info__box__left-text
        group b
      .main_chat__group-info__box__left-name
        Member : ssss
    =link_to "#" do
      .main_chat__group-info__box__right
        %p.main_chat__group-info__box__right-btn
          Edit
  .main_chat__message-list
    .main_chat__message-list__message__box
      .main_chat__message-list__message__box__header
        .main_chat__message-list__message__box__header__name
          ssss
        .main_chat__message-list__message__box__header__date
          2020/03/27(Fri) 14:53:29
      .main_chat__message-list__message__box__body
        あああ
    .main_chat__message-list__message__box
      .main_chat__message-list__message__box__header
        .main_chat__message-list__message__box__header__name
          ssss
        .main_chat__message-list__message__box__header__date
          2020/03/27(Fri) 14:54:19
      .main_chat__message-list__message__box__body
        カカか
      
  .main_chat__message-form
    .main_chat__message-form__top-items
      .main_chat__message-form__top-items__input-box
        type a message
        .main_chat__message-form__top-items__input-box__text
        .main_chat__message-form__top-items__input-box__img
          %p.main_chat__message-form__top-items__input-box__img      
            = link_to "#" do
              = icon('far', 'image')
      .main_chat__message-form__top-items__submit-btm
        Send