.side_bar
  .side_bar__user-name
    .side_bar__user-name-area
      .side_bar__user-name-area-box
        %p.side_bar__user-name-area-box-text 
          name
        %p.side_bar__user-name-area-box-icon      
          = link_to "#" do
            = icon('far', 'edit')          
          = link_to "#" do
            = icon('fas', 'cog')            
  .side_bar__group-list
    .side_bar__group-list-body
      %p.side_bar__group-list-body-title
        techcamp
      %p.side_bar__group-list-body-text
        まだメッセージがありません
      .side_bar__group-list-body
      %p.side_bar__group-list-body-title
        techcamp
      %p.side_bar__group-list-body-text
        まだメッセージがありません
      .side_bar__group-list-body
      %p.side_bar__group-list-body-title
        techcamp
      %p.side_bar__group-list-body-text
        まだメッセージがありません
      .side_bar__group-list-body
      %p.side_bar__group-list-body-title
        techcamp
      %p.side_bar__group-list-body-text
        まだメッセージがありません
      .side_bar__group-list-body
      %p.side_bar__group-list-body-title
        techcamp
      %p.side_bar__group-list-body-text
        まだメッセージがありません
      .side_bar__group-list-body
      %p.side_bar__group-list-body-title
        techcamp
      %p.side_bar__group-list-body-text
        まだメッセージがありません
      .side_bar__group-list-body
      %p.side_bar__group-list-body-title
        techcamp
      %p.side_bar__group-list-body-text
        まだメッセージがありません







    -# .side_bar__group-list-body
    -#   %p.side_bar__group-list-body-title
    -#     techcamp
    -#   %p.side_bar__group-list-body-text
    -#     まだメッセージがありません
    -# .side_bar__group-list-body
    -#   %p.side_bar__group-list-body-title
    -#     techcamp
    -#   %p.side_bar__group-list-body-text
    -#     まだメッセージがありません  