.main_chat {
  width: calc(100vw - 300px);
  &__group-info {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    a {
    text-decoration: none;
    }
    &-box__left {
      &-text {
        font-size: 20px;
        color: #333333;
        margin: 35px 0px 15px 40px;
      }
      &-name {
        font-size: 12px;
        color: #999999;
        margin: 15px 0px 0px 40px;
      }
    }
    &-box__right {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      color: #38aef0;
      margin: 30px 40px 0 0;
      border: 1px solid #38aef0;
      padding: 0px 20px;
      border-color: #38aef0;
      p {
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  &__message-list {
    padding: 46px 40px;
    background-color: #fafafa;
    height: calc(100vh - 190px);
    overflow: scroll;
    &__message-box {
      height: 105px;
      &__header {
        display: flex;
        margin-bottom: 10px;
        height: 23px;
        &__name {
          font-weight: bold;
          color: #333333;
          font-size: 16px;
        }
        &__time {
          margin-left: 10px;
          color: #999999;
          font-size: 12px;
        }
      }
      &__body {
        margin-bottom: 10px;
        height: 23px;
        color: #434A54;
        font-size: 14px;
        align-items: flex-end;
      }
    }
  }
  &__form {
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;
    .new_message {
      display: flex;
      height: 50px;
      .main_chat__form__input-box {
        position: relative;
        width: 100%;
        .input-box__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        .area__image {
          font-size: 1.5rem;
          position: absolute;
          top: 7px;
          right: 9px;
          cursor: pointer;
          .area__image__file {
            position: absolute;
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
      }
    }
  }
}

