.main_chat {
  width: calc(100vw - 300px);
  &__group-info {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    a {
    text-decoration: none;
    }
    &-box__left {
      &-text {
        font-size: 20px;
        color: #333333;
        margin: 35px 0px 15px 40px;
      }
      &-name {
        font-size: 12px;
        color: #999999;
        margin: 15px 0px 0px 40px;
      }
    }
    &-box__right {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      color: #38aef0;
      margin: 30px 40px 0 0;
      border: 1px solid #38aef0;
      padding: 0px 20px;
      border-color: #38aef0;
      p {
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  &__message-list {
    padding: 46px 40px;
    background-color: #fafafa;
    height: calc(100vh - 190px);
    &__message-box {
      height: 105px;
      &__header {
        display: flex;
        margin-bottom: 10px;
        height: 23px;
        &__name {
          font-weight: bold;
          color: #333333;
          font-size: 16px;
        }
        &__time {
          margin-left: 10px;
          color: #999999;
          font-size: 12px;
        }
      }
      &__body {
        margin-bottom: 10px;
        height: 23px;
        color: #434A54;
        font-size: 14px;
        align-items: flex-end;
      }
    }
  }
  &__message-form {
    background-color: #ddd;
    height: 90px;
    padding: 20px 40px;
    &__top-items {
      display: flex;
      &__input-box {
        color: #999999;
        line-height: 50px;
        height: 50px;
        background-color: white;
        padding: 0 40px 0 10px;
        width: 100%;
        position: relative;
        &__text {
          
        }
        &__img {
            cursor: pointer;
            font-size: 1.5rem;
            position: absolute;
            top: 1px;
            right: 4px;
            color: black;
          }
      }
      &__submit-btm {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        line-height: 50px;
      }
    }
  }
}